<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
  </head>

  <body>
    <div class="main-content">
 {{>header}}
  <p>This application was created by Vinol Tauro</p>
    <img class='portrait' src="/img/pic.jpeg" alt="Profile Photo" />
    </div>
   
        {{>footer}}
  </body>
</html>